.successRadio {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #392;
  appearance: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  transition: all ease-in 0.2s;

}

.successRadio:checked {
  background-color: #392;
}

.dangerRadio {
  border: 2px solid red;
  /* box-shadow: 0 0 0 1px #932; */
  appearance: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  transition: all ease-in 0.2s;

}

.dangerRadio:checked {
  background-color: #932;
}